<div class="container-fluid" style="background:#EDEDEE">
  <div class="container">
  <div class="row" style="margin-bottom:10px;margin-top:10px;">
    <div class="col-md-12">
    </div>
  </div>
  <!-- welcome content -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1"> <!-- right panel -->
      <div class="panel panel-default" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">
        <div class="panel-body" style="margin-left: 10px;margin-right: 10px;">
          <div class="col-md-6">
            <br><span class="blue">Question:</span> <%= @question.description %><br>
				<div class="opt1"><span class="orange">(A).</span> <%= @question.answer.option1%></div>
				<div class="opt1"><span class="orange">(B).</span> <%= @question.answer.option2%></div>
				<div class="opt1"><span class="orange">(C).</span> <%= @question.answer.option3%></div>
				<div class="opt1"><span class="orange">(D).</span> <%= @question.answer.option4%></div><br>
				<div id="show_answer" data-for="#correct_answer" >show answer | </div>
				<div id='correct_answer'><span class="green">Answer: </span><%= correct_answer @question %></div>
       </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $('#correct_answer').hide();
    $("#show_answer").click(function(e) {
        console.log("dropdown toggled!");
        e.preventDefault();
        e.stopPropagation();
        //get targeted element via data-for attribute
        var dataFor = $(this).data('for');
        var idFor = $(dataFor);
        idFor.slideToggle();
    }); 
});
</script>