<div class="container">
<div class="row">
<%= render partial: 'layouts/side_pane' if user_signed_in? %>
<div class="col-sm-9 col-md-9">
<div class="well">
   <div class="filter">
    <%= form_tag(my_tests_user_tests_path(current_user), method: :get) do%>
      <div class="control-group">
        <%=label_tag "Category"%>
        <div class="controls col-md-9">
         <%= select_tag "category_ids", options_for_select(Category.all.collect{|p| [ p.title, p.id ] }),:multiple => true,:style => 'width: 100%',"data-required" => "true"
              %>
         </div>
         <div class='col-md-3'>
         <%=submit_tag 'filter', class: 'btn btn-success'%>
        </div>
      </div>
    <% end %>
  </div>
  <table class="table table-striped custab">
  <thead>
    <tr>
      <th>No.</th>
      <th>Test Name</th>
      <th></th>
    </tr>
  </thead>
  <% unless @tests.empty? %>
  <% @tests.each.with_index(1) do |test,index|%>
    <tr>
      <td><%= index %></td>
      <td><%= test.name %></td>
      <td>

       <%= form_tag tests_user_tests_path(current_user) ,method: :post do%>
       	  <%= hidden_field_tag :test_start, true%>
          <%= hidden_field_tag :test_id, test.id %>
          <%= hidden_field_tag :question_id, (test.last_page || 1) %>
          <%= hidden_field_tag :page, (test.last_page || 1) %>
          <%= hidden_field_tag :test_token, test.test_token %>
          <%= submit_tag 'Back to Test',class: 'btn btn-primary'%>
       <% end %>
     </td>
    </tr>
  <% end %>
  <%else%>
    <span>No result found</span>
  <%end%>
  </table>
</div>
</div>
</div>
</div>

<script>
$("#category_ids").select2()
</script>